.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: medium;
}

header h1 {
  display: inline-block;  /* Make the header text inline-block */
  margin: 0;  /* Remove default margin for h1 */
}

header img {
  display: inline-block;  /* Make the header image inline-block */
  width: 60px;
  margin-left: 10px;  /* Adjust the margin as needed */
}

.top-navigation {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.top-navigation a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}

nav {
  float: left;
  width: 20%;
  background-color: #f2f2f2;
  height: 100vh;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

nav ul li a {
  text-decoration: none;
}

main {
  float: left;
  width: 80%;
  padding: 20px;
}

section {
  display: none;
}

section.active {
  display: block;
}








.maggi1{

  min-height: 50px;
}